*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/deploymentTargetDropDown.xml
/.idea/render.experimental.xml
/.idea/kotlinc.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
jks.txt
*.jks
/sample/
/.kotlin
