<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="m3u-android.extension" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <meta-data
            android:name="m3u-android.extension.target"
            android:value="${m3u-target}"/>
        <meta-data
            android:name="m3u-android.extension.class"
            android:value="${m3u-extensions}" />
    </application>
</manifest>